body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Headings: */
h2 {
    color: #b22222;
    font-size: 24px;
    margin-bottom: 15px;
}

/* input fields */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    background: #b22222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

/* Error Message */
#error-message, #signup-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 500px) {
    .login-container {
        width: 90%;
    }
}

.navbar {
    width: 100%;
    position:fixed;
    top: -16px;
}
nav ul {
    background-color: #b22222;
    text-align: center;
    color: #dddddd;
    overflow: hidden;
}
nav ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

.navbar-float-left { float: left; }
.navbar-float-right { float: right; }

nav ul li a {
    background-color: #b22222;
    text-align: center;
    color: #dddddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    padding: 14px 16px;
}


nav ul li a:hover {
    color: #b22222;
    background-color: #dddddd;
}

.page-content-container{
    padding-top: 60px;
}

.menu-header-container{
    padding-top: 60px;
    width: 90%;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    transition: transform 0.5s;
}

svg{
    width: 30px;
}
.menu-section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.cart-icon{
    position: relative;
    cursor: pointer;
}

.cart-icon span{
    display: flex;
    width: 30px;
    height: 30px;
    background: #b22222;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.btn-primary{
    width: 100px;
    padding: 12px;
    background: #b22222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.btn-danger{
    width: 100px;
    padding: 12px;
    background: #b22222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.cart-quantity-input{
    width: 100px;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.cart-tab{
    width: 400px;
    background: #b22222;
    color: white;
    position: fixed;
    inset: 0 -400px 0 auto;
    transition: transform 0.5s ease-in-out;

}

.cart-tab .btn{
    background: white;
    color: #b22222;
}

